$color-green: #06874e;
$color-white: white;
$color-light-grey: #ededed;
$color-light-gray: lightgray;

.login-form-wrapper {
    margin: 0 auto;
    background-color: $color-white;
    padding: 10px 35px 30px 30px;
    width: 400px;
    border-top: 2px solid $color-green;
}

.outer-wrapper {
    background-color: $color-light-grey;
    height: 100vh;
    display: flex;
    align-items: center;
}

.sign-in-label {
    text-align: center;
}

.email, .password {
    h3{
        margin: 5px 0px;
    }
    input {
        width: 95%;
        height: 45px;
        border: 1px solid $color-light-gray;
        padding: 2px 10px;
    }
}

.password {
    margin-top: 30px;
}

.remember-chkbox {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 10px;
    width: 17px;
    height: 17px;
}

.sign-in-btn {
    margin-top: 20px;
    width: 100%;
    border-radius: 0;
    height: 45px;
    border: 0px;
    background-color: $color-green;
    color: $color-white;
    font-size: 20px;
    cursor: pointer;
}

.links {
    display: inline-grid;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    a {
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
        color: black;
    }
    button {
        border: 0px;
        background: transparent;
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
        letter-spacing: -0.5px;
    }
}

.child-links {
    margin-top: 15px;
}

.sign-up {
    margin-left: 5px;
}

.remember-me-label {
    position: relative;
    bottom: 2px;
    font-weight: 500;
}

.remember-me-wrapper {
    margin-top: 20px;
}

.error-msg {
    color: red;
}